<main>
    <div>
        <nav class="menu">
            <ul>
                <li> <a href="#"><mat-icon>calendar_today</mat-icon> Tareas de Hoy</a> </li>
                <li><a href="#"><mat-icon>date_range</mat-icon>Proximos 7 dias</a></li>
                <li><a href="#"> <mat-icon>notification_important</mat-icon> Importante</a></li>
                <li class="opcion"> <a href="#">Proyectos <span> <button> <mat-icon> keyboard_arrow_down</mat-icon></button> </span></a>
                    <ul class="submenu ">
                        <li><a href="#">Entrega de Proyecto</a></li>
                        <li><a href="#"> Maqueta</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li class="opcion"> <a href="#">Proyectos <span><button><mat-icon> keyboard_arrow_down</mat-icon></button></span></a>
                    <ul class="submenu ">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li><a href="#"> <mat-icon>brightness_1</mat-icon> Trabajo</a></li>
                <li><a href="#"> <mat-icon>brightness_1</mat-icon> Personal</a></li>
            </ul>
        </nav>

        <div class="tareas">
            <h1> Inicio <mat-icon>date_range</mat-icon> </h1>

        </div>

    </div>
</main>

<script> 
     var menu = document.querySelectorAll(".opcion");
    
    
</script>