<!-- <section>
    <mat-grid-list cols="4">
        <mat-grid-tile class="grid1" rowspan="2" colspan="4" style="background-color: white;">
            <div>
                <h1> BIENVENIDOS</h1>
                <h2> ¿Cansado de no poder organizar tus tareas?</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="grid2" colspan="2">
            <h1> ORGANIZA TUS TAREAS</h1>
        </mat-grid-tile>
        <mat-grid-tile class="grid3" colspan="2">
            <h1> REVISA LAS FECHAS</h1>
        </mat-grid-tile>
        <mat-grid-tile class="grid4" colspan="4">
            <h1> Recibe la comodidad de tener tus tareas al dia.</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/1583/1583276.png">
        </mat-grid-tile>

    </mat-grid-list>
</section> -->

<section class="inicial-content">

  <article class="hero">
    <div class="content">
      <h1>TaskManager</h1>
      <p>Organiza tu
        trabajo y tu vida, por fin.
        Concéntrate, organízate y trae calma a tu vida con Todoist. La aplicación de listas de pendientes y gestión de
        tareas n.º 1 del mundo.</p>
      <button>Pruebalo</button>
    </div>
    <picture class="image">
      <img src="../../../../assets/images/hero-image.svg" alt="hero-image">
    </picture>
  </article>

  <section class="caracteristicas">

    <article class="tareas">
      <div class="content">
        <h2>Organiza tus tareas</h2>
        <p>Añade tareas como “Leer emails del trabajo todos los días a las 10am” para hacer tu lista de pendientes en
          segundos utilizando el reconocimiento de lenguaje coloquial</p>
      </div>
      <picture class="image">
        <img src="../../../../assets/images/tarea-image.svg" alt="tarea-image">
      </picture>
    </article>
    <article class="fechas">
      <div class="content">
        <h2>Revisa las fechas</h2>
        <p>Tus listas de tareas pendientes se ordenan en las vistas Hoy, Próximo y Filtros personalizados para ayudarte
          a concentrarte en las cosas más importantes.</p>
      </div>
      <picture class="image">
        <img src="../../../../assets/images/fecha-image.svg" alt="fecha-image">
      </picture>
    </article>
    <article class="comodidad">
      <div class="content">
        <h2>Fácil de usar</h2>
        <p>Una gestión de tareas sorprendentemente simple y engañosamente poderosa.</p>
      </div>
      <picture class="image">
        <img src="../../../../assets/images/facil-image.svg" alt="facil-image">
      </picture>
    </article>


  </section>

</section>

<app-footer></app-footer>
