<!-- <section>
    <mat-grid-list cols="4">
        <mat-grid-tile class="grid1" rowspan="2" colspan="4" style="background-color: white;">
            <div>
                <h1> BIENVENIDOS</h1>
                <h2> ¿Cansado de no poder organizar tus tareas?</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="grid2" colspan="2">
            <h1> ORGANIZA TUS TAREAS</h1>
        </mat-grid-tile>
        <mat-grid-tile class="grid3" colspan="2">
            <h1> REVISA LAS FECHAS</h1>
        </mat-grid-tile>
        <mat-grid-tile class="grid4" colspan="4">
            <h1> Recibe la comodidad de tener tus tareas al dia.</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/1583/1583276.png">
        </mat-grid-tile>

    </mat-grid-list>
</section> -->

<section>



</section>
