<div class="form">
  <h2>Agregar nueva tarea</h2>
  <form [formGroup]="registrarse" (ngSubmit)="OnSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="titulo">
      <mat-hint *ngIf="registrarse.controls['titulo'].invalid"> <span class="hint"> titulo
          requerido.</span></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>descripcion</mat-label>
      <input type="text" matInput formControlName="descripcion">
      <mat-hint *ngIf="registrarse.controls['descripcion'].invalid"><span class="hint">descripcion
          requerida.</span></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>fecha Inicio</mat-label>
      <input type="text" matInput formControlName="fechaInicio">
      <mat-hint *ngIf="registrarse.controls['fechaInicio'].invalid"><span class="hint">fecha Inicio requerida</span></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>fecha Fin</mat-label>
      <input type="text" matInput formControlName="fechaFin">
      <mat-hint *ngIf="registrarse.controls['fechaFin'].invalid"><span class="hint">fecha Fin requerida</span></mat-hint>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button [disabled]="registrarse.invalid" type="submit">Registrarse</button>
    </mat-dialog-actions>
  </form>
</div>
