.card {
  --primary-clr: #212121;
  --dot-clr: #BBC0FF;
  max-width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
 }

 .card {
  color: #f2f2f2;
  display: grid;
  cursor: pointer;
  grid-template-rows: 50px 1fr;
  background-color:transparent;
  border: none;
 }

 .card:hover .img-section {
  transform: translateY(1em);
 }

 .card-desc {
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  top: -10px;
  display: grid;
  gap: .5rem;
  background: var(--primary-clr);
 }

 .card-titulo {
  font-size: 1.7em;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 }

 .img-section {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #6C63FF;
 }

 .card-header {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
 }

 .card-title {
  flex: 1;
  font-size: 0.9em;
  font-weight: 500;
 }

 .card-menu {
  display: flex;
  gap: 4px;
 }

 /* .card svg {
  float: right;
  max-width: 100%;
  max-height: 100%;
 } */

 .card .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--dot-clr);
 }

 .card .descripcion {
  line-height: 1.5rem;
  font-size: 0.8em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }
