<div class="card work" (click)="openTask()">
  <div class="img-section">

  </div>
  <div class="card-desc">
    <div class="card-header">
      <!-- <div class="card-title" *ngIf="!!task.fechaFin">{{task.fechaFin}}</div> -->
      <!-- <div class="card-menu">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div> -->
      <app-delete-task></app-delete-task>
    </div>
    <div class="card-titulo">{{task!.titulo}}</div>
    <p class="descripcion">{{task!.descripcion}}</p>
  </div>
</div>
