button {
  padding: .5rem 0;
  margin-bottom: 24px;
  cursor: pointer;
  width: 100%;
  background-color: #6C63FF;
  color: white;
  border:none ;
  border-radius: 10px;
  transition: .2s all ;
}
button:hover{
  background-color: #7973f1;
}
button:disabled{
  cursor:auto;
  background-color: #494855;
}


h2 {
  font-size: 2rem;
  padding: 24px 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
}

.hint {
  font-size: 0.8rem;
}

.registrarse {
  display: flex;
}

.form {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  width: 50vw;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
