<!-- <main>
    <div>
        <nav class="menu">
            <ul>
                <li> <a href="#"><mat-icon>calendar_today</mat-icon> Tareas de Hoy</a> </li>
                <li><a href="#"><mat-icon>date_range</mat-icon>Proximos 7 dias</a></li>
                <li><a href="#"> <mat-icon>notification_important</mat-icon> Importante</a></li>
                <li class="opcion"> <a href="#">Proyectos <span> <button> <mat-icon> keyboard_arrow_down</mat-icon></button> </span></a>
                    <ul class="submenu ">
                        <li><a href="#">Entrega de Proyecto</a></li>
                        <li><a href="#"> Maqueta</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li class="opcion"> <a href="#">Proyectos <span><button><mat-icon> keyboard_arrow_down</mat-icon></button></span></a>
                    <ul class="submenu ">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li><a href="#"> <mat-icon>brightness_1</mat-icon> Trabajo</a></li>
                <li><a href="#"> <mat-icon>brightness_1</mat-icon> Personal</a></li>
            </ul>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <mat-icon>calendar_today</mat-icon>
                <span> <a href="#"> Tareas de Hoy</a>
                </span>
            </div>
            <div class="menuItem 2">
                <i class="ion-ios-home-outline"></i>
                <mat-icon>date_range</mat-icon>
                <span> <a href="#"> Proximos 7 dias</a></span>
            </div>
            <div class="menuItem 3">
                <mat-icon>notification_important</mat-icon>
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Importante </a></span>
            </div>
            <div class="menuItem 4">
                <span> <a href="#"> Proyectos</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
            <div class="menuItem 1">
                <i class="ion-ios-home-outline"></i>
                <span> <a href="#"> Tareas de Hoy</a></span>
            </div>
        </nav>

        <div class="tareas">
            <h1> Inicio <mat-icon>date_range</mat-icon> </h1>

        </div>

    </div>
</main> -->


<section class="dashboard">

  <mat-drawer-container class="example-container">
    <mat-drawer class="example-sidenav" mode="side" opened>
      <a [routerLink]="[{outlets: {'views': ['today']}}]"><mat-icon>calendar_today</mat-icon>Tareas de Hoy</a>
      <a [routerLink]="[{outlets: {'views': ['proximos']}}]"><mat-icon>date_range</mat-icon>Proximos 7 dias</a>
      <a [routerLink]="[{outlets: {'views': ['terminados']}}]"><mat-icon>date_range</mat-icon>Terminados</a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <h1 class="dashboard-title">Dashboard</h1>
      <router-outlet name="views"></router-outlet>
    </div>

  </mat-drawer-container>

</section>
