<header>
  <mat-toolbar color="primary">
    <span style="margin: 10px;">Tareas Rapidas</span>
    <span class="example-spacer"></span>
    <span *ngIf="!username" ><a href="#"> Inicio</a></span>
    <span *ngIf="!username" ><a href="#"> Tutorial</a> </span>
    <button mat-button *ngIf="!username"  (click)="openDialogSignIn()"> Registrarse</button>
    <span>{{username}}</span>
    <button mat-button *ngIf="username" (click)="openDialogLogout()" class="btn">Cerrar sesión</button>
    <button mat-button *ngIf="!username"  (click)="openDialogLogin()">Iniciar Sesion</button>    
  </mat-toolbar>
</header>