.example-spacer {
    flex: 1 1 auto;
}

span {
    margin: .7rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 10px;
}
