button {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 10px;
}
h2{
  font-size: 2rem;
  padding: 24px 20px 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.mat-mdc-form-field{
  display: block;
}

mat-dialog-content{
  background-color: white;
}
.form {
  display: flex;
  flex-direction: row;
}
img{
    width: 80%;
}