
<div class="footer">
  <div class="content">
    <div>
      <div><a>Wilson Rodrigo Gilces Tutiven</a></div>
      <div><a>Henry Miguel Ruiz Reyes</a></div>
      <div><a>Ricardo Omar Solórzano Zambrano</a></div>
      <div><a>Fausto Javier Torres Aspiazu</a></div>
      <div><a>Guillermo David Zevallos Escalante</a></div>
    </div>
    <div><a class="image" href="https://codepen.io/z-" target="_blank" style="background-image: url(&quot;https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg&quot;)"></a>
      <p>©2023 - Equipo Dinamita</p>
    </div>
  </div>
</div>
