
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@include mat.core();

$frontend-angular-primary: mat.define-palette(mat.$blue-gray-palette, 900);
$frontend-angular-accent: mat.define-palette(mat.$deep-purple-palette, A400);

$frontend-angular-warn: mat.define-palette(mat.$red-palette, 700);

$frontend-angular-theme: mat.define-light-theme((
  color: (
    primary: $frontend-angular-primary,
    accent: $frontend-angular-accent,
    warn: $frontend-angular-warn,
  )
));

@include mat.all-component-themes($frontend-angular-theme);

