<div class="registrarse">
  <div class="image">
    <img
      src="https://i.imgur.com/UPTs50r.jpg"
      alt="Registrarse">
  </div>
  <div class="form">
    <h2>Registrarse</h2>
    <form [formGroup]="registrarse" (ngSubmit)="OnSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="nombre">
        <mat-hint *ngIf="registrarse.controls['nombre'].invalid"> <span class="hint"> Usuario
            requerido.</span></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="contraseña">
        <mat-hint *ngIf="registrarse.controls['contraseña'].invalid"><span class="hint">Contraseña
            requerida.</span></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input type="correo" matInput formControlName="correo">
        <mat-hint *ngIf="registrarse.controls['correo'].invalid"><span class="hint">Correo Requerido.</span></mat-hint>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button [disabled]="registrarse.invalid" type="submit">Registrarse</button>
      </mat-dialog-actions>
    </form>
  </div>

</div>
