<h2>Registrarse</h2>
    <mat-dialog-content style="background-color: white;">
<div class="form">  
      <div>
      <img src="https://us.123rf.com/450wm/artursz/artursz1808/artursz180811427/106693758-nota-de-escritura-que-muestra-la-pregunta-de-la-lista-de-tareas-pendientes-exhibici%C3%B3n-fotogr%C3%A1fica-de.jpg?ver=6" alt="">
     </div>
      <form [formGroup]="registrarse" (ngSubmit1)="OnSubmit()">
        <mat-form-field appearance="fill" >
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="username" >
          <mat-hint *ngIf="registrarse.controls['username'].invalid">Usuario requerido.</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-hint *ngIf="registrarse.controls['password'].invalid">Contraseña requerida.</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="correo" matInput formControlName="correo">
            <mat-hint *ngIf="registrarse.controls['correo'].invalid">Correo Requerido.</mat-hint>
          </mat-form-field>

        <mat-dialog-actions align="end">
          <button [disabled]="registrarse.invalid" [mat-dialog-close]="registrarse.get('username')?.value">Registrarse</button>
        </mat-dialog-actions>
    
    
      </form>
    </div>  
    </mat-dialog-content>
